# Save exact version of packages
save-exact=true

# Use package-lock.json
package-lock=true

# Use npm audit
audit=true

# Use npm fund
fund=false

# Set registry to npm
registry=https://registry.npmjs.org/

# Set progress to false for CI environments
progress=false 